/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner {
  height: 45vh;
  background-color: black;
  background-image: url("../images/cross2.jpg");
  background-size: cover;
  background-position: center 60%;
  color:aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container1{
padding: 32px;
a{
  color: blueviolet;
  transition: color 0.3s 0.1s;
  &:hover{
    color:violet ;
  }
}
}

.container2{
  padding: 32px;
}

.cards{
  display: flex;
  gap: 20px;
}

.card{
  flex:1;
  background-color: rgb(202, 244, 244);
  border: 1px solid silver;
  border-radius: 3px;
  padding: 10px;
}
footer{
  background-color: rgb(40, 28, 28);
  color:white;
  padding:32px;
}
